.link{
    cursor: pointer;
    /* display: none; */
}

.burger{
    width: 20px;
    height: 20px;
    display: none;
    flex-direction: column
    ;
    justify-content: space-between;
    cursor: pointer;
    display: none;
}
.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
   
}


@media  screen and (max-width:670px) {
    .burger{
        display: flex;
        
    }

    
    
}
.hamburgerMenu{
    position: absolute;
    top:100px;
    left: 0px;
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size:35px;
    font-weight: bold;
}

